.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.item-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.title {
    margin-left: 20px;
}

.wrap-btns {
    display: flex;
    margin-left: 20px;
}

.btn-delete {
    margin-left: 15px;
}