.App {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  max-width: 1200px;
}


.btn {
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(108, 130, 255);
  padding: 6px 23px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(100, 69, 238);
}