.App {
  text-align: center;
}


.btn {
  border: none;
  border-radius: 5px;
  background-color: rgb(108, 130, 255);
  padding: 6px 23px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(100, 69, 238);
}